# Editors
.vscode/
# Trash
.DS_Store
Thumbs.db
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml

# docs
.vscode
.idea
*.iml
*.code-workspace
.changelog

node_modules
.yarn

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader

.netlify
